<!DOCTYPE html>
html
    head
        title The Best Holiday for You
    body
        h1 Here you need put your budget
        .budget
        script
            include script.js
        if config.entry.css.external
            link(rel="stylesheet", href=`${baseUrl}style.css`)
