<!DOCTYPE html>
html
    head
        title The Best Holiday for You
    body
        .container
            h1 Here you need put your budget
            input(type="text" id= 'messageIn')
            button(onclick="myFunction()" id='button') Send
            .messageOut
                h1
        script
            include script.js
        if config.entry.css.external
            link(rel="stylesheet", href=`${baseUrl}style.css`)