<!DOCTYPE html>
html
    head
        title The Best Holiday for You
    body
        script
            include script.js
        if config.entry.css.external
            link(rel="stylesheet", href=`${baseUrl}style.css`)